@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Flick";
  src: url("/fonts/flick.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.font-flick {
  font-family: "Flick", Arial, sans-serif;
}

.font-chakra {
  font-family: 'Chakra Petch', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
